*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-body{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container{
  border-radius: 5px;
  height: 600px;
}

 /* Top Header */
.header-top{
  height: 50px;
}

.data-grid{
  height: 500px;
}

/********* Button Footer **********/

.btn-add{
  width: 100px;
}

.btn-cancel{
  width: 100px;
}

/********* Font Size Class**********/

.fs-10{
  font-size: 10px !important;
}

.fs-11{
  font-size: 11px !important;
}
.fs-12{
  font-size: 12px !important;
}
.fs-13{
  font-size: 13px !important;
}
.fs-14{
  font-size: 14px !important;
}
.fs-15{
  font-size: 15px !important;
}
.fs-16{
  font-size: 16px !important;
}
.fs-10{
  font-size: 10px !important;
}
.fs-20{
  font-size: 20px !important;
}
.fs-21{
  font-size: 21px !important;
}
.fs-22{
  font-size: 22px !important;
}
.fs-23{
  font-size: 23px !important;
}
.fs-24{
  font-size: 24px !important;
}
.fs-25{
  font-size: 25px !important;
} 